
<div class="container">
  <div class="jumbotron">

    <h1>Bem vindo ao site de cadastro mais inútil do mundo</h1>

    <a href="/user/new" class="btn btn-lg btn-success">Cadastre-se agora!</a>
  </div>
</div>
